{% load static %}

<html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>KHUropBox</title>

    <script src="/static/js/app.js"></script>

    <link href="/static/css/app.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
    <link href="/static/css/override.css" rel="stylesheet">
    <link href="/static/css/layout.css" rel="stylesheet">
    <link href="/static/css/filebrowser.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">


</head>
<body>
    <div id="wrapper">
        <div id="page-content-wrapper">

             <div id="header">
                <div id="logo">
                    <a href="/"></a>
                </div>
             </div>

             <div id="content">
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ request.user.username }}  님 안녕하세요.
                        <button type="submit" class="btn right" onclick="location.href='/logout/';">로그아웃</button>
                        <button type="submit" class="btn right" onclick="location.href='/blog/';">게시판</button>
                        {% if user.is_authenticated %}
                            <button type="submit" class="btn right" onclick= location.href='/';>메인메뉴</button>
                            <button type="submit" class="btn right" onclick="location.href='{% url 'post_new' %}';">글쓰기</button>
                            <button type="submit" class="btn right" onclick="location.href='{% url 'post_draft_list' %}';">미리보기</button>

                        {% endif %}
                    </div>
                    <div class="panel-body">
                        {% block content %}
                        {% endblock %}
                   </div>
      </div>
  </div>

</body>
</html>