{% extends 'layout.html' %}

{% block content %}

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% if user.is_authenticated %}
                    {{ request.user.username }}  님 안녕하세요.
                    <button type="submit" class="btn right" onclick="location.href='/logout/';">로그아웃</button>
                    <button type="submit" class="btn right" onclick="location.href='/';">Khuropbox</button>
                    <button type="submit" class="btn right" onclick="location.href='/blog/post/new/';">글쓰기</button>
                    <button type="submit" class="btn right" onclick="location.href='/blog/';">글목록</button>
                {% else %}
                    <button type="submit" class="btn right" onclick="location.href='/login/';">로그인</button>
                {% endif %}
            </div>
            <div class="panel-body">
                <form method="POST" class="post-form">
                    {% csrf_token %}

                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="text">내용</label>
                            <input type="hidden" name="author" value="{{ request.user.username }}">
                            <textarea id="text" type="text" class="form-control" name="text" required autofocus></textarea>
                        </div>
                    </div>

                    <button type="submit" class="save btn btn-info">댓글작성</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}