<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>KHUropBox</title>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/aws-sdk.min.js"></script>

    <link href="/static/css/app.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
    <link href="/static/css/override.css" rel="stylesheet">
    <link href="/static/css/layout.css" rel="stylesheet">
    <link href="/static/css/filebrowser.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">


</head>
<body>
    <div id="wrapper">
        <div id="page-content-wrapper">

             <div id="header">
                <div id="logo">
                    <a href="/"></a>
                </div>
             </div>

             <div id="content">
                {% block content %}
                {% endblock %}
             </div>
      </div>
  </div>

</body>