{% extends 'layout.html' %}
{% load s3-tags %}

{% block content %}

     <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ request.user.username }}  님 안녕하세요.
                <button type="submit" class="btn right" onclick="location.href='/logout/';">로그아웃</button>
                <button type="submit" class="btn right" onclick="location.href='/blog/';">게시판</button>
            </div>
            <div class="panel-body">

                {% load_s3 %}

            </div>
        </div>
    </div>
{% endblock %}