{% extends 'layout.html' %}

{% block content %}

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">

            <div class="panel-body">
                <form class="form-horizontal" role="form" method="POST" action="/register/">
                    {% csrf_token %}

                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="username"><span style="color:green;">아이디</span></label>
                            <input id="username" type="text" class="form-control" name="username" required autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="email"><span style="color:green;">이메일</span><h6 style="display:inline;"> - 비밀번호 분실시 사용됩니다.</h6></label>
                            <input id="email" type="email" class="form-control" name="email" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="password"><span style="color:green;">비밀번호</span><h6 style="display:inline;"> - 비밀번호는 6자리 이상으로 설정되어야 합니다.</h6></label>
                            <input id="password" type="password" class="form-control" name="password" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="first_name"><span style="color:green;">성</span></label>
                            <input id="first_name" type="first_name" class="form-control" name="first_name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="last_name"><span style="color:green;">이름</span></label>
                            <input id="last_name" type="last_name" class="form-control" name="last_name" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success">회원가입</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <h6>{{ message }}</h6>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}